.star-game-container {
  display: flex;
  flex-direction: column;
}

canvas {
  background-color: #eee;
}

.header {
  width: 900px;
  height: 50px;
}

.playground {
  width: 900px;
  height: 450px;
}
